<% page_title 'New Task' %>

<%= simple_form_for @task, path: tasks_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :summary %>
    <%= f.input :description, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


