<% page_title 'Sign In' %>

<%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <%= f.input_field :remember_me, as: :hidden, value: 1 %>
  <%= f.input :login, required: true, autofocus: true, placeholder: 'Username or email...' %>
  <%= f.input :password, required: true, placeholder: 'Password' %>

  <div class="form-actions">
    <%= f.button :button, 'Sign In' %>
    &nbsp;&nbsp;&nbsp;&nbsp;Need an account? <%= link_to 'Sign Up', new_user_registration_path %> &nbsp;&nbsp;&ndash;&nbsp;&nbsp; Forgot your password? <%= link_to 'Get a new one!', new_user_password_path %>
  </div>
<% end %>
