<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_for_head %>Pureset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "controllers/#{controller_name_with_namespace}", media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="controller_<%= controller_name %> action_<%= action_name %>">

    <header>
      <div class="container">
        <section class="avatar">
          <%= link_to image_tag("//www.gravatar.com/avatar/#{current_user.gravatar_hash}?s=28", width: 28, height: 28), edit_user_registration_path, class: 'wave' %>
        </section>
        <section class="logo">
          <%= link_to image_tag('tmp.png', width: 113, height: 72), :root %>
        </section>
        <nav>
          <ul>
            <li><%= link_to 'Projects', projects_path, class: 'current' %></li>
            <li><%= link_to 'Users', projects_path %></li>
            <li><%= link_to 'Issues', projects_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= page_title_for_layout %>

    <main class="container">
      <div>
        <aside>&nbsp;</aside>
        <section>
          <%= semantic_flash %>
          <%= yield %>
        </section>
      </div>
    </main>

  </body>
</html>
