<!DOCTYPE html>
<html>
  <head>
    <title>Pureset</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <header>
      <div>&nbsp;</div>
      <div id="logo"><%= image_tag 'logo.png', width: 168 %></div>
      <nav>
        <%- if user_signed_in? %>
          <span><%= link_to icon('sign-out', 'Sign out'), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <%- else -%>
          <span><%= link_to icon('sign-in', 'Sign in'), new_user_session_path %></span>
        <%- end -%>
      </nav>
    </header>

    <main>
      <aside>
        <%= link_to icon('home'), :root %>
        <%- if user_signed_in? %>
          <span></span>
          <%= link_to icon('building-o'), organizations_path %>
          <%= link_to icon('briefcase'), :root %>
          <%= link_to icon('inbox'), :root %>
          <span></span>
          <%= link_to icon('gear'), :root %>
          <%= link_to icon('sign-out'), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%- else -%>
          &nbsp;
        <%- end -%>
      </aside>
      <div id="outer-content">
        <section>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </section>

        <section id="content">
          <%= yield %>
        </section>
      </div>
    </main>

  </body>
</html>
