<!DOCTYPE html>
<html>
  <head>
    <title>Pureset</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <section>
      <header>
        <div id="logo"><%= image_tag 'logo.png' %></div>
        <nav>
          <%- if user_signed_in? %>
            <span><%= link_to icon('sign-out', 'Sign out'), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <%- else -%>
            <span><%= link_to icon('sign-in', 'Sign in'), new_user_session_path %></span>
          <%- end -%>
        </nav>
      </header>
    </section>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>

  </body>
</html>
