<!DOCTYPE html>
<html>
  <head>
    <title>Pureset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="controller_<%= controller_name %> action_<%= action_name %>">

    <header>
      <div class="container">
        <%= image_tag 'logo_label.png' %>
      </div>
    </header>

    <main class="container">
      <%= semantic_flash %>
      <%= yield %>
    </main>

  </body>
</html>
