<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title_for_head %>Pureset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="controller_<%= controller_name %> action_<%= action_name %>">

    <header>
      <div class="container">
        <nav>
          <ul>
            <% if signed_in? %>
              <li><%= link_to icon(:plus, ' Create'), new_task_path, class: current_class_for_route(new_task_path) %></li>
            <% end -%>
          </ul>
        </nav>

        <%= link_to image_tag('logo.png', width: 113, height: 63), :root, class: 'logo' %>

        <nav>
          <ul>
            <% if signed_in? %>
              <li><%= link_to icon(:suitcase, ' Projects'), projects_path, class: current_class_for_controller(:projects) %></li>
              <li><%= link_to icon(:building, ' Orgs'), organizations_path, class: current_class_for_controller(:organizations) %></li>

              <li class="avatar">
                <%= link_to image_tag("//www.gravatar.com/avatar/#{current_user.gravatar_hash}?s=30", width: 30, height: 30), edit_user_registration_path, class: 'wave' %>
              </li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path, class: current_class_for_route(new_user_registration_path) %></li>
              <li><%= link_to 'Sign In', new_user_session_path, class: current_class_for_route(new_user_session_path) %></li>
            <% end -%>
          </ul>
        </nav>
      </div>
    </header>

    <%= semantic_flash %>

    <% if @titles_in_head_only %>
      <%= yield %>
    <% else %>
      <div class="page_titles">
        <%= page_title_for_layout %>
        <%= page_subtitle_for_layout %>
      </div>

      <main class="container">
        <%= yield %>
      </main>
    <% end %>

  </body>
</html>
