<!DOCTYPE html>
<html>
  <head>
    <title>Pureset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="controller_<%= controller_name %> action_<%= action_name %>">

    <header>
      <div class="container">
        <section class="avatar btn-floating waves-effect waves-dark white">
          <%= link_to image_tag("//www.gravatar.com/avatar/#{current_user.gravatar_hash}?s=28", width: 28, height: 28), edit_user_registration_path %>
        </section>
        <section class="logo">
          <%= link_to image_tag('logo_label.png', width: 105, height: 66), :root %>
        </section>
        <section class="navigation">
        </section>
      </div>
    </header>

    <main class="container">
      <div>
        <aside>&nbsp;</aside>
        <section>
          <%= semantic_flash %>
          <%= yield %>
        </section>
      </div>
    </main>

  </body>
</html>
